page-login {
  
    ion-row {
       align-items: center !important;
       text-align: center;
     }
 
     ion-item {
         font-size: 0.9em;
         box-shadow: none !important;
        padding-bottom: 20px;

     }

     ion-card{
        border: 0px;
     }

     ion-input {
          background: transparent;
          border-bottom: 1px solid black;
          box-shadow: none !important;
     }

     .signup-col {
        padding-bottom: 20px;
     }
 
     .submit-btn {
       border-radius: 30px !important;
       border: 1px solid #ffffff;
     }
 
     .register-btn {
       font-size: 0.8em;
     }

     ion-footer{
      border: none !important;
      box-shadow: none !important;
     }

     ion-content{
      border: none !important;
      box-shadow: none !important;
     }
 
}
