<!--
  Generated template for the ContactsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Network</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

	<ion-list>
		<ion-item style="white-space: normal;" *ngIf="rellist.length == 0">
			<p style="white-space: normal;">Build up a network by giving and getting help through the <a>Requests</a> page. You can also join groups in the <a>Groups</a> page.</p>
		</ion-item>
		<button ion-item *ngFor="let contact of rellist" (click)="opencontactpage($event, contact)">
			<ion-avatar item-start>
        		<img src="https://s3.amazonaws.com/katcher/ProfilePics/{{contact.id}}.jpg">
			</ion-avatar>
			<!-- <ion-icon [name]="item.icon" item-left></ion-icon> -->
			<h2>{{contact.name}}</h2>
			<p>Has helped you {{contact.helped}} times. <br>
				You have helped them {{contact.request}} times.
			</p>
		</button>
	</ion-list>

</ion-content>
