<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Requests</ion-title>
    <ion-buttons end>
      <button ion-button (click)="logout()">
          <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
<!-- 	<button ion-button (click)='newrequest()'>Create New Request</button>
 -->  
  <ion-item style="white-space: normal;" *ngIf="len == 0">
    <p style="white-space: normal;">You do not have any requests at this time. To open a new request, first <a (click)="opensearch()">search</a> the database to see if you can find help. </p>
  </ion-item>
  <ion-list>
    <button ion-item *ngFor="let item of chats" (click)="itemTapped($event, item)">
      <h2>{{item.year}} {{item.make}} {{item.model}}</h2>
        <p>Error codes: {{item.error}}</p>
	     <p>Symptoms: {{item.symptoms}}</p>
      <div class="date" item-end>
        {{item.opendate}}
      </div>
    </button>
  </ion-list>
</ion-content>