<!--
  Generated template for the TreasuresPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar  color="dark">
        <ion-title>Details</ion-title>
        
    </ion-navbar>

</ion-header>

<ion-content>

      <ion-card>
        <ion-card-content>

            <ion-fab top right>
              <button ion-fab><ion-icon name="construct"></ion-icon></button>
              <ion-fab-list>
                <button ion-fab color="danger" (click)="editDetails(ProjID,projectdetails)"><ion-icon name="create"></ion-icon></button>
                <button ion-fab color="primary" (click)="complete(ProjID)"><ion-icon name={{this.completestatusimg}}></ion-icon></button>
                <button ion-fab color="green" (click)="upload1(ProjID)"><ion-icon name={{this.projectuploadstatus}}></ion-icon></button>
                <button ion-fab color="danger" (click)="deleteproject(ProjID._id)"><ion-icon name="trash"></ion-icon></button>
                </ion-fab-list>
                </ion-fab>

       
            <ion-card-title>
                [{{this.completestatus}}] {{ProjID.year}} {{this.ProjID.brand}} {{this.ProjID.model}} {{this.ProjID.engine}}
            </ion-card-title>
            <p>Error Code: {{this.ProjID.errorcode}}</p>     
            <p>Symptoms:</p>
                <ul>
                    <li *ngFor =" let projectsymptom of projectsymptoms; let i = index ">{{this.projectsymptom.sentence}}  
                    <p *ngFor =" let loop of counter(projectsymptoms[i].numpic); let j = index " >
                    <img src="https://s3.amazonaws.com/katcher/{{this.projectsymptom._id}}/{{j+1}}.jpg"/>
                    </p>

                    <p *ngFor =" let loop of counter(projectsymptoms[i].numvid); let j = index " >
                    <video width="320" heigth="240" controls>
                    <source src="https://s3.amazonaws.com/katcher/{{projectsymptoms[i]._id}}/{{j+1}}.mp4" type="video/mp4"/>
                    </video>
                    </p>
                    </li>
                </ul>
            <p></p>

            <p>Summary:</p>
            <ul>
            <li *ngFor =" let projectsummary of projectsummarys; let i = index ">{{this.projectsummary.sentence}} 
            <p *ngFor =" let loop of counter(projectsummarys[i].numpic); let j = index " >
            <img src="https://s3.amazonaws.com/katcher/{{this.projectsummary._id}}/{{j+1}}.jpg"/>
            </p>

            <p *ngFor =" let loop of counter(projectsummarys[i].numvid); let j = index " >
            <video width="320" heigth="240" controls>
            <source src="https://s3.amazonaws.com/katcher/{{projectsummarys[i]._id}}/{{j+1}}.mp4" type="video/mp4"/>
            </video>
            </p>
            </li>  
            </ul>
            <ul><!-- Reasoning: -->
            <li *ngFor =" let projectreasoning of projectreasonings; let i = index ">{{this.projectreasoning.sentence}}  
            <p *ngFor =" let loop of counter(projectreasonings[i].numpic); let j = index " >
            <img src="https://s3.amazonaws.com/katcher/{{this.projectreasoning._id}}/{{j+1}}.jpg"/>
            </p>

            <p *ngFor =" let loop of counter(projectreasonings[i].numvid); let j = index " >
            <video width="320" heigth="240" controls>
            <source src="https://s3.amazonaws.com/katcher/{{projectreasonings[i]._id}}/{{j+1}}.mp4" type="video/mp4"/>
            </video>
            </p>
            </li>
            </ul>
            <p></p>


            <p >Diagnosis:</p>
            <ul>
            <li *ngFor =" let projectdiagnosi of projectdiagnosis; let i = index ">{{this.projectdiagnosi.sentence}}
            <p *ngFor =" let loop of counter(projectdiagnosis[i].numpic); let j = index " >
            <img src="https://s3.amazonaws.com/katcher/{{this.projectdiagnosi._id}}/{{j+1}}.jpg"/>
            </p>

            <p *ngFor =" let loop of counter(projectdiagnosis[i].numvid); let j = index " >
            <video width="320" heigth="240" controls>
            <source src="https://s3.amazonaws.com/katcher/{{projectdiagnosis[i]._id}}/{{j+1}}.mp4" type="video/mp4"/>
            </video>
            </p>
            </li>  
            </ul>
            <p></p>


                                
            

             
            </ion-card-content>
            </ion-card>











            <ion-list no-lines>
            <ion-item *ngFor=" let comment of comments; let i = index ">

            <ion-avatar  item-start>
                <img src="https://s3.amazonaws.com/katcher/ProfilePics/{{comment.writerid}}.jpg">
            </ion-avatar>
            <h4 item-end> {{this.authornames[i]}} </h4>
            <ion-item>
            <p item-start style="white-space: normal !important; ">{{comment.content}}</p>
            </ion-item>
            </ion-item>



            </ion-list>




            </ion-content>

            <ion-footer>
            <form (ngSubmit)="send()" #registerForm="ngForm">

            <ion-item>
            <ion-input type="text" placeholder="Type a message" name="message"  [(ngModel)]="this.message">  </ion-input>
            <button item-end ion-button ion-icon icon-only class="submit-btn"  type="submit" [disabled]="!registerForm.form.valid"><ion-icon name="paper-plane"></ion-icon></button>
            </ion-item>
            </form>

            </ion-footer>

     