page-onechat {
	.messages-wrapper {
	  padding-top: 10px;
	  position: relative;
	  border: 1px solid #ddd;
	  border-top: 0 none;
	  list-style-type:none;
	}
	.message {
	}
	ion-item {
         font-size: 0.9em;
         box-shadow: none !important;
        padding-bottom: 20px;
        border: none !important;
     }
	.message.to {
	    background-color: #158ffe;
	    color: #fff;
	    text-align:right;
	}
	.message.from {
	    background-color: #e6e5eb;
	    color: #363636;
	    margin-right: 80px;
	}
	.message.to + .message.to,
	.message.from + .message.from {
	  margin-top: -7px;
	}


}
