page-new-request {

     ion-input {
          background: transparent;
          border-bottom: 1px solid black;
          box-shadow: none !important;
     }

     ion-textarea {
          background: transparent;
          border-bottom: 1px solid black;
          box-shadow: none !important;
     }

}
