<!--
  Generated template for the OnegroupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
  		<button ion-button item-end icon-right *ngIf="member==0" small clear (click)="joingroup()">Join Group</button>
		<button ion-button item-end icon-right *ngIf="member==1" small clear (click)="leavegroup()">Leave Group</button>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<h2 item-start>{{group.name}}</h2>
    <ion-item>
    	<p style="white-space: normal;">
    		{{group.basedon}}
    	</p>
		<p style="white-space: normal;"> <ion-icon name='people'></ion-icon>{{group.nmembers}} Members </p>
		<p style="white-space: normal;">{{group.description}}</p>
	</ion-item>

	<ion-list no-lines>
        <ion-item *ngFor="let p of writers">
          <ion-row no-lines>
            <ion-avatar  item-start>
                <img src="https://s3.amazonaws.com/katcher/ProfilePics/{{p.id}}.jpg">
            </ion-avatar>
            <h4> {{p.name}} </h4>
          </ion-row>
          <ion-row no-lines>
             <p item-start style="white-space: normal !important;">{{p.content}}</p>
          </ion-row>
        </ion-item>
    </ion-list>


</ion-content>

<ion-footer *ngIf="member==1">
    <form (ngSubmit)="post()" #newcommentform="ngForm">
      <ion-row>
          <ion-textarea name="posttext" placeholder="Write something..." [(ngModel)]="posttext"></ion-textarea>
          <button ion-button icon-right clear item-end type="submit">Post <ion-icon name="send"></ion-icon></button>
      </ion-row>
    </form>
</ion-footer>
